<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace= "~{base :: Layout(~{::title}, ~{::section})}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Management</title>
        <!-- <link rel="stylesheet" href="/css/style.css"> -->
    
    </head>

    <body>
        <section>

            <div class="container-fluid m-0 p-0">
                <div class="jumbotron text-center pt-2" style="color: #ffffff">
                
                    <h1 class="display-4 fw-bold">Welcome to Task Management App</h1>
                    <hr>
                    <!-- <p>Manage your tasks efficiently</p> -->
                </div>
            </div> 
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

    
        </section>
        

    </body>

</html>